@model Thinktecture.Samples.ViewClaims

@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>

@foreach (var claim in Model)
{
    <p>
        @claim.Type
    </p> 
    <p>
        <strong>@claim.Value</strong>
    </p>
}
