@model IEnumerable<Thinktecture.Samples.Data.ViewClaim>

@{
    ViewBag.Title = "Client identity";
}

<h2>Client identity</h2>

<br />

<table>
    @foreach (var claim in Model)
    {
        <tr>
            <td>
                <strong>@claim.Type</strong>
            </td>
            <td>
                <span>@claim.Value</span>
            </td>
        </tr>
    }
</table>