<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Js Basic Auth Sample</title>
    <style>
        body {
            font-family:Arial;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>Basic Auth Login</legend>
        <p>
            <label for="username">Username</label>
            <input id="username" value="bob" />
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" type="password" value="bob" />
        </p>
        <p><button id="login">Login</button></p>
    </fieldset>
    
    <ul></ul>
    
    <script src="Scripts/Base64.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script>
        $(function () {
            var url = '@Thinktecture.Samples.Constants.WebHostBaseAddress' + 'identity';

            function HttpClient(url, uid, pwd) {
                this.url = url;
                this.uid = uid;
                this.pwd = pwd;
                this.basic = Base64.encode(this.uid + ":" + this.pwd);
            }
            HttpClient.prototype.getIdentity = function () {
                var basic = this.basic;
                var settings = {
                    type: "GET",
                    url: this.url,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + basic);
                    }
                };
                return $.ajax(settings);
            };

            function log(msg) {
                $("<li>").text(msg).appendTo("ul");
            }

            $("#login").click(function () {
                var uid = $("#username").val();
                var pwd = $("#password").val();
                var client = new HttpClient(url, uid, pwd);
                client.getIdentity().done(function (result) {
                    console.log(result);
                    log("Claims");
                    result.forEach(function (item) {
                        log(item.Type + ", " + item.Value);
                    });
                });
            });
        });
    </script>
</body>
</html>
